<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646969063558-r0k26n7eh5einhrgspq00af8i85crf5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646969063558-r0k26n7eh5einhrgspq00af8i85crf5b</string>
	<key>API_KEY</key>
	<string>AIzaSyC4jTOS29_YBel54-0bwnsUBE-dANqE7Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>646969063558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayzon.morphosisDemo</string>
	<key>PROJECT_ID</key>
	<string>morphosisdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>morphosisdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646969063558:ios:3107e46bb6bc8f4a2b7907</string>
</dict>
</plist>